@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    

/*Primary*/

/*Text*/

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/*Gradient*/

/*Background gradient*/

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/*Neutral*/

/*Text*/

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/*Dividers*/

--Light-grayish-blue: hsl(240, 5%, 91%);

/*fontstyle*/

}

.section-1 {
    grid-area: section1;
    margin: 10px 10px 0px 10px;
    overflow: visible;
}

.section-1 img {

    position: absolute;
    bottom:30px;
}
.section-2 {
    grid-area: section2;
    margin: 0px 10px 10px 10px;
}

.section-2 h1 {
    text-align: center;
    font-weight: 700;
}


.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    border-top: 0.1px solid #444;
    text-align: left;
    outline: none;
    font-size: 13px;
  }

.accordion i {

  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}

.accordion i.fa-chevron-down {
    float: right;
    /*right: -70px;
  left: auto;
  font-size: 16px;*/
}
  
  /*.active, .accordion:hover {
    background-color: #ccc; 
  }*/
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    bottom: 5px;
  }

* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    position: relative;
    display: block;
}

html {
    height: 100%;
}

html body {
    min-height: 100%;
    background-color: hsl(273, 75%, 66%);
    font-family: 'Kumbh Sans', sans-serif;
}
.main {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: visible;
}
.container {
    display: grid;
    background-color: white;
    width: 325px;
    border-radius: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "section1" "section2";
    overflow: visible;
}



p {
    font-size: 12px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }