@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    

/*Primary*/

/*Text*/

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/*Gradient*/

/*Background gradient*/

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/*Neutral*/

/*Text*/

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/*Dividers*/

--Light-grayish-blue: hsl(240, 5%, 91%);

/*fontstyle*/

}

.section-1 {
  
  grid-area: section1;
  margin: 10px 10px 0px 10px; 
  height: 100%;
  overflow: visible;
}

.section-1 .img1 {
  background-image: url(./images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-size: 210px;
  background-position: center;
  height: 200px;
  top: -120px;
  right: 15px;
  position: relative;
}

.section-1 .img2 {
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  height: 200px;
  top: -280px;
  left: -5px;
  
}

.section-2 {
  display: grid;
    grid-area: section2;
    margin: 0px 10px 30px 10px;
    overflow: visible;
    align-items: center;
}

.section-2 h1 {
    text-align: center;
    font-weight: 700;
}


.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 27%, 0.3);
    text-align: left;
    outline: none;
    font-size: 13px;
  }

.accordion i {

  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}

.accordion i.fa-chevron-down {
  color: hsl(14, 88%, 65%);
    float: right;
    -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
    /*right: -70px;
  left: auto;
  font-size: 16px;*/
}
  
  /*.active, .accordion:hover {
    background-color: #ccc; 
  }*/
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    bottom: 5px;
}

* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    position: relative;
    display: block;
}

html {
    height: 100%;
    
}

html body {
    min-height: 100%;
    background-color: hsl(273, 75%, 66%);
    font-family: 'Kumbh Sans', sans-serif;
    
    z-index: -1;
}
.main {
 
    height: 100vh;
    display: grid;
  align-items: center;
  justify-content: center;
  


}
.container {
    display: grid;
    grid-area: container;
    background-color: white;
    width: 325px;
    height: 100%;
    border-radius: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "section1" "section2";
    overflow: visible;
    
}


p {
    font-size: 12px;
}

.attribution { 
  
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 550px) {


  .container {
    display: grid;
    background-color: white;
    width: 800px;
    height: 430px;
    
    border-radius: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section1 section2";
    overflow: visible;
    
}

.section-1 {
  margin: 0;
}

.section-1 .images {
  height: 100%;
  background-image: url(./images/bg-pattern-desktop.svg);
}

.section-1 .images{
  overflow: hidden;
  position: relative;
}

.img1 .box {
  background-image: url(./images/illustration-box-desktop.svg);
  height: 20%;
  background-repeat: no-repeat;
  background-size: 100px;
  top: 205px;
  left: 30px;
  
}

.section-1 .img1 {
  background-image: url(./images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: 350px;
  height: 100%;
  left: -60px;
  top: -10px;
}

.section-1 .img2 {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  height: 100%;
  top: -400px;
  left: -55px;
}

.section-2 {
  margin: 40px 20px 40px 0px;
}



/* end............................. */
}
  